body {
	background-color:#FFFDE9; 
	margin-top: 0%;
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 5%;
	text-align: center;
	font-family: 'Josefin Slab', serif;
}

h1 {
	
	color:  red;
	text-decoration: underline;
	
}

h2 {
	
	color: blue;
	font-family: 'Courier New';
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #009900;
	
}

h3 {
	
	font-size: 120%;
}

p {
	font-size: 14pt;
	color: default;
	
	
}

ul li {
	font-size: 14pt;
	
}
ol li {
	font-size: 14pt;
	margin-right: 50%;
	
}

a:link {
	color: #1083EF;
}

a:visited {
	color: #1DCF2D;
	
}

table{
	
	border-color: orange;

}

hr{
	border-color: #009900;
	border-width: 3px;
	border-style: dotted;
}
/* DIVISIONES */

/* DIVISIONES SIN MODIFICAR EL RESTO */


span{
	text-decoration: underline;
	color: #A70000;
	text-shadow: 2px 2px 3px;
}
/* TERMINAR */
form{
	border: 2px solid;
	border-color: orange;
	border-radius: 50px;
	padding-bottom: 50px;

}




.parasaurio{
	color: #EA6610;
	background-color: #C6FED4;
	text-decoration: underline;
	border: 3px solid;
	border-color: black;
	
}

img {
	margin: auto;
}

tr:hover {
	background-color: #A9DEF0; 
}
tr:nth-child(even){  /* PARES */
	background-color: #F7FA49;
}
tr:nth-child(odd){   /* INPARES */
	background-color: white;
}

.info{
	background-color: #B0F589;
}

.alpha{
	margin-left: 37%;
	margin-right: 27%;
}

input{
	background-color: #69F0F6;
	border-radius: 25px;
}
.boton{
	background-color: green;
}

#monteoia{
	float: left;
	padding: 2%;
}

#textooia{
	clear: right;
}

.cuadrooia{
	background-color: #aa0000;
	text-decoration: underline;
	border: 4px solid;
	border-color: black;
	color: white;
}

#videooia{
	float: right;
	padding: 2%;
}

#monasterio{
	float: left;
	padding: 2%;
}

#fotosalceda{
	float: right;
	padding: 2%;
}

#videosalceda{
	float: right;
	padding: 2%;
}

#textosalceda{
	clear: left;
}

.titulosalceda{
	text-align: center;
	font-size: 200%;
	color: black;
	font-family: 'calibri light';
}

#textosalceda2{
	clear: left;
}

.fotossalceda{
	float: right;
	padding: 1%;
}

.textoizquierda{
	clear: left;
}

.fotoizquierda{
	float: left;
	padding: 1%;
}

.textoderecha{
	clear: right;
}

footer {
	text-align: right;
	font-family:'Bonheur Royale', cursive;
	font-size: 200%;
}
.listalineal li {
	display: inline;
	padding: 3%;
	text-decoration: none;
}

.cuerpoindex{
	margin: 10%;
}

#resaltoazul{
	color: #00389A;
	text-decoration: none;
}

#tablasZA13 {
	margin-left: 30%;
}